.songList {
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: 500px;
  margin-left: 50px;
}

.songList > label {
  font-size: 1.6em;
  font-weight: 600;
}

songlist > span {
  padding: 5px;
}

.timers {
  display: flex;
  flex-direction: column;
}