.initialTimeForm {
  padding: 20px 0;
  width: 500px;
  text-align: left;
}
.initialTimeForm_tips > h4 {
  margin-bottom: 0;
}

.initialTimeForm_triggers {
  margin-top: 10px;
}

.initialTimeForm_triggers > button:first-child {
  margin-right: 15px;
}

.initialTimeForm_error{
  margin-bottom: 5px;
}

.timeInput > input {
  padding: 5px;
  margin-bottom: 10px;
}