.initialTimeForm {
  padding: 20px 0;
  width: calc(100vw - 20px);
  text-align: center;
}

.initialTimeForm_error{
  margin-bottom: 5px;
}

.timeInput > input {
  padding: 5px;
  margin-bottom: 10px;
}