.card {
  display: grid;
  margin: 7px 0;
  padding: 10px;
  border: 1px solid white;
  background-color: black;
  border-radius: 3px;
}

.card > label {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card_actions {
  text-align: right;
  margin-top: 10px;
  float: right;
}
